In [1]:
import pandas as pd
import json

In [6]:
import pandas as pd
import glob
import os

# Folder containing your CSVs
folder = './data/train_test_data'
# Build a pattern to match transcript_metadata_*.csv
pattern = os.path.join(folder, 'transcript_metadata_*.csv')

# Find all matching files
csv_files = glob.glob(pattern)

# Read each one into a DataFrame, then concatenate
df_list = [pd.read_csv(fp) for fp in csv_files]
combined_df = pd.concat(df_list, ignore_index=True)
combined_df.drop_duplicates(subset='transcriptid', keep='first', inplace=True)

In [36]:
import numpy as np

# δ = median absolute SUE score
delta = np.percentile(combined_df['SUESCORE'].abs(), 50)
delta = 0.5
print(delta)
# build the group labels
conditions = [
    combined_df['SUESCORE'] < -delta,      # bottom ~25%
    combined_df['SUESCORE'].abs() <= delta, # middle ~50%
    combined_df['SUESCORE'] >  delta       # top ~25%
]
choices = ['low', 'mid', 'high']

combined_df['suescore_group'] = np.select(conditions, choices)

# check proportions
print(combined_df['suescore_group']
      .value_counts(normalize=True).round(3))

0.5
suescore_group
high    0.660
mid     0.181
low     0.159
Name: proportion, dtype: float64

In [13]:
combined_df[(combined_df['SUESCORE'] < delta) & (combined_df['SUESCORE'] > -delta)]

,companyid,keydevid,transcriptid,componentorder,transcriptcomponenttypeid,mostimportantdateutc,word_count,ANNDATS,OFTIC,EPSDATS,ACTUAL,SUESCORE,SURPMEAN,SURPSTDEV,suescore_group
0,1413208,266193342,655823,0,1,2014-07-01,35.0,2014-10-01,AYI,2014-08-31,1.26,1.14377,1.22154,0.03363,mid
57,258589,266155806,656074,0,1,2014-07-02,44.0,2014-10-02,STZ,2014-08-31,1.11,-1.10278,1.15000,0.03627,mid
147,295368,266063638,656081,0,1,2014-07-02,46.0,2014-09-24,PAYX,2014-08-31,0.47,1.03478,0.46191,0.00782,mid
645,270747,266907353,657603,0,1,2014-07-11,47.0,2014-10-10,FAST,2014-09-30,0.45,0.36151,0.44845,0.00428,mid
707,292891,263917192,657616,0,1,2014-07-11,57.0,2014-10-14,WFC,2014-09-30,1.02,-0.01240,1.02024,0.01936,mid
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2553550,26893,231650292,480324,0,1,2013-06-27,57.0,2013-09-19,CAG,2013-08-31,0.37,-0.56193,0.39138,0.03806,mid
2553600,284342,241653747,480391,0,2,2013-06-27,129.0,2013-09-12,KR,2013-07-31,0.60,0.21978,0.59593,0.01850,mid
2553742,295368,241612255,480400,0,1,2013-06-27,39.0,2013-09-30,PAYX,2013-08-31,0.44,1.35386,0.43125,0.00646,mid
2554009,972190,240883247,480531,0,1,2013-06-27,49.0,2013-09-26,ACN,2013-08-31,1.01,0.41494,1.00605,0.00951,mid
2554155,768440,261784280,610409,0,2,2013-05-09,1.0,2013-07-25,DOW,2013-06-30,0.64,0.55326,0.62517,0.02681,mid

In [ ]:
combined_df[combined_df['SUESCORE'] >= delta]

,companyid,keydevid,transcriptid,componentorder,transcriptcomponenttypeid,mostimportantdateutc,word_count,ANNDATS,OFTIC,EPSDATS,ACTUAL,SUESCORE,SURPMEAN,SURPSTDEV,suescore_group
311,251704,267609562,656475,0,1,2014-07-07,50.0,2014-11-04,ADM,2014-09-30,0.81,1.91456,0.73158,0.04096,high
465,30655,266282539,656739,0,2,2014-07-08,204.0,2014-10-22,LRCX,2014-09-30,0.96,1.92787,0.93118,0.01495,high
508,249603,253781177,656852,0,1,2014-07-08,65.0,2014-10-08,AA,2014-09-30,0.31,2.27506,0.22667,0.03663,high
572,92817,268065148,657215,0,2,2014-07-10,1024.0,2014-10-08,COST,2014-08-31,1.58,1.77434,1.52185,0.03278,high
1132,399584,268289896,657963,0,1,2014-07-15,51.0,2014-10-21,RAI,2014-09-30,0.95,3.37105,0.91113,0.01153,high
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2553687,283234,241411773,480398,0,1,2013-06-27,199.0,2013-09-24,KBH,2013-08-31,0.30,1.94207,0.20608,0.04836,high
2553919,22247,242176101,480459,0,1,2013-06-26,36.0,2013-09-18,ORCL,2013-08-31,0.59,3.41559,0.56112,0.00846,high
2553953,22247,242100854,480515,0,1,2013-06-27,45.0,2013-09-18,ORCL,2013-08-31,0.59,3.41559,0.56112,0.00846,high
2554092,291981,241666569,480542,0,1,2013-06-27,279.0,2013-09-26,NKE,2013-08-31,0.86,4.06545,0.77950,0.01980,high
2554144,22247,242221027,481177,0,2,2013-06-27,145.0,2013-09-18,ORCL,2013-08-31,0.59,3.41559,0.56112,0.00846,high

In [ ]:
combined_df[combined_df['SUESCORE'] <= -delta]

,companyid,keydevid,transcriptid,componentorder,transcriptcomponenttypeid,mostimportantdateutc,word_count,ANNDATS,OFTIC,EPSDATS,ACTUAL,SUESCORE,SURPMEAN,SURPSTDEV,suescore_group
406,274715,261260013,656705,0,2,2014-07-08,173.0,2014-09-17,GIS,2014-08-31,0.61,-5.56977,0.68620,0.01368,low
573,270820,264658477,657300,0,1,2014-07-10,52.0,2014-10-09,FDO,2014-08-31,0.73,-1.81802,0.76846,0.02115,low
2873,22247,268152016,658426,0,1,2014-07-16,55.0,2014-09-18,ORCL,2014-08-31,0.62,-2.09112,0.63912,0.00914,low
3665,19007,262497867,658722,0,1,2014-07-17,43.0,2014-10-16,BHI,2014-09-30,1.02,-3.66900,1.13356,0.03095,low
4118,270961,266261936,658847,0,1,2014-07-17,57.0,2014-10-16,FITB,2014-09-30,0.39,-2.73230,0.43015,0.01470,low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2549316,687261,233786012,472560,0,2,2013-05-30,220.0,2013-07-25,BG,2013-06-30,0.74,-1.96438,1.30320,0.28671,low
2549481,31232183,229789012,472661,0,2,2013-05-30,156.0,2013-08-01,COV,2013-06-30,0.84,-2.98784,0.89444,0.01822,low
2550738,92817,241383998,474982,0,2,2013-06-06,990.0,2013-10-09,COST,2013-08-31,1.40,-2.20230,1.46216,0.02823,low
2551479,318091,241511327,476235,0,2,2013-06-11,4716.0,2013-08-14,M,2013-07-31,0.72,-3.04872,0.78053,0.01985,low
2552662,336160,241701365,479064,0,1,2013-06-21,46.0,2013-09-20,DRI,2013-08-31,0.53,-3.63130,0.69737,0.04609,low

In [3]:
pd.read_csv("./data/train_test_data/transcript_metadata_2010_1.csv")['transcriptid'].nunique()

940

In [2]:
def process_jsonl(path):
    temp = {}
    with open(path, "r", encoding="utf-8") as f:
        for line in f:
            obj = json.loads(line)
            for key, text in obj.items():
                parts = key.split("_")
                tid, order = parts[2], int(parts[3])
                temp.setdefault(tid, []).append((order, text))
    return {
        tid: "\n".join(txt for _, txt in sorted(lst, key=lambda x: x[0]))
        for tid, lst in temp.items()
    }

In [3]:
out = process_jsonl("./data/train_test_data/transcript_componenttext_2010_1.jsonl")

In [10]:
year = 2010

In [11]:
stats_df1 = pd.read_csv("./data/train_test_data/transcript_metadata_{}_1.csv".format(year))
stats_df2 = pd.read_csv("./data/train_test_data/transcript_metadata_{}_2.csv".format(year))

stats_df = pd.concat([stats_df1, stats_df2])

In [12]:
aggregated_df = stats_df.groupby('transcriptid').agg({
    'companyid': 'first',
    'keydevid': 'first',
    'componentorder': 'max',    # largest componentorder
    'mostimportantdateutc': 'first',
    'word_count': 'sum',        # sum of word counts
    'ANNDATS': 'first',
    'OFTIC': 'first',
    'EPSDATS': 'first',
    'ACTUAL': 'first',
    'SUESCORE': 'first',
    'SURPMEAN': 'first',
    'SURPSTDEV': 'first'
}).reset_index()

aggregated_df

,transcriptid,companyid,keydevid,componentorder,mostimportantdateutc,word_count,ANNDATS,OFTIC,EPSDATS,ACTUAL,SUESCORE,SURPMEAN,SURPSTDEV
0,15674,405869,84102073,123,2010-01-27,8068.0,2010-04-21,PTV,2010-03-31,0.38,-1.30586,0.40400,0.01838
1,45174,270820,82359615,95,2010-01-06,8116.0,2010-04-07,FDO,2010-02-28,0.81,2.47044,0.78250,0.01113
2,45195,528414,71113148,71,2010-01-06,10235.0,2010-04-07,MON,2010-02-28,1.70,-0.16358,1.72882,0.17621
3,45251,321778,83536034,6,2010-01-06,2766.0,2010-04-07,BBBY,2010-02-28,0.86,5.53344,0.72591,0.02423
4,45368,30763,83277059,86,2010-01-07,10227.0,2010-03-24,LEN,2010-02-28,-0.04,1.46536,-0.29688,0.17530
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1892,403521,278679,115843973,94,2010-12-08,27725.0,2011-02-22,HD,2011-01-31,0.36,3.51778,0.30520,0.01558
1893,403610,306688,116908688,45,2010-12-10,5534.0,2011-02-23,TJX,2011-01-31,1.05,7.78051,1.02150,0.00366
1894,436734,261738,100837189,122,2010-04-29,8503.0,2010-07-28,CLF,2010-06-30,1.92,-0.41508,2.05556,0.32658
1895,1364542,21835,90059674,28,2010-02-04,2896.0,2010-04-22,MSFT,2010-03-31,0.45,1.49287,0.42077,0.01958
1896,2473219,813574,99050053,117,2010-03-31,9487.0,2010-07-27,GPN,2010-05-31,0.58,0.70466,0.56724,0.01811

In [14]:
print(aggregated_df.word_count.max())
print(aggregated_df.word_count.mean())

39517.0
9039.488139167106